<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/template1.css">
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/jquery.cycle2.min.js"></script>

    <style media="screen">
    body {
      opacity: 1;
      transition: 0.5s opacity;
    }
    body.fade-out {
      opacity: 0;
      transition: 0.5s opacity;
    }
    </style>
  </head>
  <body>

    <script id="tpt1" type="text/template">
      <!-- <body onload="document.body.style.opacity='1'"> -->
    	<main>
    		<article>
    			<div class="image">
    				<div class="slideshow">
    					<ul id="slideshow" class="slides cycle-slideshow"  data-cycle-slides="> li">
                <!-- <li><img src="assets/img/img1.jpg" alt=""></li> -->
                {{#each images}}
      							<li><img src="assets/img/{{url}}" alt=""></li>
                {{/each}}
    					</ul>
    				</div>

    				{{#if tel_wsp_bot}}
    				<div class="code-phone">
    					<p>Para m&aacute;s informaci&oacute;n:</p>
    					<span class="qr-code"><img src="{{img_qr}}" alt="Código QR"></span
    					><small class="code">
    						Escane&aacute; el QR o mandanos el c&oacute;digo <span>{{Cod}}</span> al siguiente WhatsApp:
    					</small>
    					<small class="phone">
    						<a class="tel" href="tel:+54">
    							<svg aria-hidden="true" class="whatsapp inline" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24.1">
    								<linearGradient id="GRD1" gradientUnits="userSpaceOnUse" x1="11.9999" y1="23.6905" x2="11.9999" y2="0.4175">
    									<stop offset="0" style="stop-color:#20B038"/>
    									<stop offset="1" style="stop-color:#60D66A"/>
    								</linearGradient>
    								<path fill="url(#GRD1)" d="M0.4,23.7l1.6-6C1,16,0.5,14,0.5,11.9C0.5,5.6,5.7,0.4,12,0.4c3.1,0,6,1.2,8.2,3.4c2.2,2.2,3.4,5.1,3.4,8.2c0,6.4-5.2,11.5-11.5,11.5c0,0,0,0,0,0h0c-1.9,0-3.8-0.5-5.5-1.4L0.4,23.7z"/>
    								<path fill="#FFFFFF" d="M20.5,3.5C18.2,1.2,15.2,0,12.1,0C5.5,0,0.1,5.4,0.1,11.9c0,2.1,0.5,4.2,1.6,6L0,24.1l6.3-1.7c1.7,1,3.7,1.5,5.7,1.5h0C18.6,23.9,24,18.5,24,12C24,8.8,22.8,5.8,20.5,3.5z M12.1,21.9L12.1,21.9c-1.8,0-3.5-0.5-5.1-1.4l-0.4-0.2l-3.8,1l1-3.7l-0.2-0.4c-1-1.6-1.5-3.4-1.5-5.3C2.1,6.5,6.6,2,12.1,2c2.7,0,5.1,1,7,2.9C21,6.8,22,9.3,22,12C22,17.4,17.5,21.9,12.1,21.9z"/>
    								<path fill="#FFFFFF" d="M9.1,7C8.8,6.5,8.6,6.4,8.4,6.4c-0.2,0-0.4,0-0.6,0C7.6,6.4,7.3,6.5,7,6.8c-0.3,0.3-1,1-1,2.5c0,1.5,1.1,2.9,1.2,3.1c0.1,0.2,2.1,3.3,5.1,4.5c2.5,1,3,0.8,3.6,0.7s1.8-0.7,2-1.4c0.2-0.7,0.2-1.3,0.2-1.4c-0.1-0.1-0.3-0.2-0.6-0.3c-0.3-0.1-1.8-0.9-2-1c-0.3-0.1-0.5-0.1-0.7,0.1c-0.2,0.3-0.8,1-0.9,1.2c-0.2,0.2-0.3,0.2-0.6,0.1c-0.3-0.1-1.3-0.5-2.4-1.5c-0.9-0.8-1.5-1.8-1.7-2.1c-0.2-0.3,0-0.5,0.1-0.6c0.1-0.1,0.3-0.3,0.4-0.5C9.9,10,9.9,9.9,10,9.7c0.1-0.2,0-0.4,0-0.5C9.9,9,9.3,7.5,9.1,7z"/>
    							</svg>
    							<svg aria-hidden="true" class="telephone inline hide" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12">
    								<path fill="#FFFFFF" d="M3.1,0.6C2.8,0,2.6,0,2.4,0C2.2,0,2,0,1.8,0C1.6,0,1.3,0.1,1,0.4C0.8,0.7,0,1.5,0,3.1c0,1.6,1.1,3.1,1.2,3.3c0.1,0.2,2,3.5,5,4.8c2.5,1.1,3,0.8,3.5,0.8s1.7-0.8,2-1.5C12,9.7,12,9.1,12,8.9c-0.1-0.1-0.3-0.2-0.6-0.4c-0.3-0.2-1.7-0.9-2-1C9.1,7.4,8.9,7.4,8.7,7.7C8.5,8,7.9,8.7,7.8,8.9C7.6,9.1,7.4,9.2,7.1,9C6.8,8.8,5.9,8.5,4.8,7.4C3.9,6.6,3.3,5.5,3.1,5.2c-0.2-0.3,0-0.5,0.1-0.6C3.4,4.4,3.5,4.2,3.7,4C3.8,3.8,3.9,3.7,4,3.5c0.1-0.2,0-0.4,0-0.6C3.9,2.8,3.3,1.2,3.1,0.6z"/>
    							</svg>
    							{{tel_wsp_bot}}
    						</a>
    						<a class="web" href="http://<TMPL_VAR NAME=web>" target="_blank"><TMPL_VAR NAME=web></a>
    					</small>
    				</div>
    			{{/if}}

    			</div
    			><div class="data">
    				<ul>
    					<li class="tag">{{Tag}}</li
    					><li class="operation">{{TipodeOperacion}}</li
    					><li class="status">{{Estado}}</li>
    				</ul>
    				<h1>{{Propiedad}}</h1>
    				<dl>
    					<dt class="hide">Precio:</dt>
    					{{#if Precio}}
    						<dd class="price"><span>{{Moneda}} {{Precio}}</span></dd>
    					{{/if}}
    				</dl>
    				<p class="description">{{Descripcion}}</p>
    				<dl>

    					{{#if SuperfTotal}}
    					<dt>Superficie total</dt><dd>{{SuperfTotal}}</dd>
              {{/if}}

    					{{#if SuperfCubierta}}
              <dt>Superficie cubierta</dt><dd>{{SuperfCubierta}}</dd>
              {{/if}}

    					{{#if Ambientes}}
              <dt>Ambientes</dt><dd>{{Ambientes}}</dd>
              {{/if}}

    					{{#if Banos}}
              <dt>Ba&ntilde;os</dt><dd>{{Banos}}</dd>
              {{/if}}

    					{{#if Cocheras}}
              <dt>Cocheras</dt><dd>{{Cocheras}}</dd>
              {{/if}}

    					{{#if Antiguedad}}
              <dt>Antig&uuml;edad</dt><dd>{{Antiguedad}}</dd>
              {{/if}}

              {{#if Entrega}}
              <dt>Entrega</dt><dd>{{Entrega}}</dd>
    					{{/if}}

    				</dl>
    				<p class="ubication">{{Direccion}}</p>
    			</div>
    			<div class="modal property fade-in hide" data-modal="property" <TMPL_VAR NAME=tagdisplay>>
    				<div>
    					<p>{{Tag}}</p>
    					<!-- <p>Reservado</p> -->
    				</div>
    			</div>
    		</article>
    	</main>

    		<!-- <script>
    			timeout();
    		</script> -->

    </body>
    </script>

    <script src="lib/handlebars.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
